<div class="row profile-body">
    <div class="col-md-12 middle-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="card rounded">
                        <div class="card-body">
                          <div class="container">
                            <h2>GitHub Activity</h2>
<!--                              <img src="https://github-profile-summary-cards.vercel.app/api/cards/profile-details?username=bekzod818" alt="info" width="500">-->
<!--                              <img src="https://github-readme-stats.vercel.app/api?username=bekzod818&show_icons=true" width="500">-->
<!--                              <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=bekzod818&show_icons=true" height="440px">-->
<!--                              <img src="https://github-readme-stats.vercel.app/api/wakatime?username=bekzod818&layout=compact">-->

<!--                            {% if github_activity %}-->
<!--                              <div class="activity-bar">-->
<!--                                {% for event in github_activity %}-->
<!--                                  <div class="activity-event">-->
<!--                                    <div class="event-type">{{ event.type }}</div>-->
<!--                                    <div class="event-time">{{ event.created_at }}</div>-->
<!--                                  </div>-->
<!--                                {% endfor %}-->
<!--                              </div>-->
<!--                            {% else %}-->
<!--                              <p>No GitHub activity available.</p>-->
<!--                            {% endif %}-->
                          </div>

                        <div class="github-activity" data-username="ChogirmaliYigit"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>