<div class="row profile-body">
    <div class="col-md-12 middle-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin">
                <div class="card rounded">
                    <div class="card-body">
                        <p class="mb-3 tx-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus minima delectus nemo unde quae recusandae assumenda.</p>
                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
